body {
  font-family: 'Noto Serif TC', serif;
  padding: 0;
  margin: 0;
}

.content {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

input, select {
  -webkit-appearance: none;
  -webkit-border-radius: none;
  border-radius: 3px;
  margin: 5px 0px;
  padding: 5px;
  width: 40vw;
  height: 5ch;
}

input[type=submit] {
  margin-bottom: 15px;
  font-family: 'Noto Serif TC', serif;
}

.pc {
  aspect-ratio: 2 / 3;
  margin: 15px 0px;
  border-radius: 1.5vh;
  height: 40vh;
}

.feedback {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner {
  width: 100%;
}

.holder {
  background:#e3e0e7;
  padding:0.5rem;
  margin-top: 16px;
  overflow: hidden;
}
.news {
  animation : slide 15s linear infinite;
}

@keyframes slide {
  0% {
    transform: translatex(100%)
  }

  100% {
    transform: translatex(-45%)
  }
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: #050303;
	color: #e1e0e4;
	display: flex;
	align-items: center;
	padding: 0 max(0.7vw, 14px);
}

footer>a {
	margin: 0 max(0.7vw, 14px);
	color: #ffffff;
	text-decoration: none;
}

i {
	color: #e1e0e4;
}

@media (max-width: 480px) {
	@keyframes slide {
	  0% {
		transform: translatex(100%)
	  }
	
	  100% {
		transform: translatex(-90%)
	  }
	}
}